<div id="test" data-qa="audio" class="jsx-1238604632 mb-xs mt-sm -ml-xxs" style="max-width:500px">
   <div class="overflow-hidden" data-sc-v="4.8.0-canary.0" data-sc-c="audio">
      <div class="flex items-center justify-start" data-sc-v="4.8.0-canary.0" data-sc-c="audio">
         <button id="button" class="bg-offblack hover-bg-gray-darker focus-bg-gray-darker transition-colors duration-200 ease-in-out flex items-center justify-center brad-50 pa-xxs pointer hover-fade-50" data-sc-v="4.8.0-canary.0" data-sc-c="audio" style="min-width: 40px; min-height: 40px; background-clip: content-box;">
            <svg class="content-box relative fill-white" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-label="Paused" data-sc-v="4.8.0-canary.0" data-sc-c="icon" style="width: 18px; height: 18px; left: 1px;">
               <title data-sc-v="4.8.0-canary.0" data-sc-c="icon">play</title>
               <path d="M3 2 13.182 7.819 3 14z" fill-rule="evenodd" data-sc-v="4.8.0-canary.0" data-sc-c="icon"></path>
            </svg>
         </button>
         <div class="flex w-100 ml-xs flex-row items-center" data-sc-v="4.8.0-canary.0" data-sc-c="audio">
            <div class="flex flex-grow-1 items-center" data-sc-v="4.8.0-canary.0" data-sc-c="audio">
               <button id="scrubber" class="scrubber w-100 pt-xxs pb-xxs mr-xs pointer" data-sc-v="4.8.0-canary.0" data-sc-c="audio" style="touch-action: none;">
                  <div class="relative bg-gray-lighter brad-3" data-sc-v="4.8.0-canary.0" data-sc-c="audio" style="height: 4px; min-width: 25px;">
                     <div class="flex items-center absolute bg-gray-darkest h-100 brad-3 brad-tr-0 brad-br-0 pointer" data-sc-v="4.8.0-canary.0" data-sc-c="audio" style="width: 212.609px;">
                        <div class="bg-gray-darkest brad-50 relative border-box select-none scrubber-dot" data-sc-v="4.8.0-canary.0" data-sc-c="audio" style="left: 212.609px; margin-left: -4px; min-width: 8px; min-height: 8px;"></div>
                     </div>
                  </div>
               </button>
               <div id="remaining" class="gray-dark font-xxxxs mr-xs justify-center items-center nowrap center" data-sc-v="4.8.0-canary.0" data-sc-c="audio" style="min-width: 75px;">2:51 / 9:55</div>
            </div>
         </div>
         <div class="justify-center items-center" data-sc-v="4.8.0-canary.0" data-sc-c="audio">
            <div class="dib flex" data-sc-v="4.8.0-canary.0" data-sc-c="tooltip">
               <div class="
              link-out
              bg-white
              b
              bw
              transition-colors
              duration-200
              ease-in-out
              gray-darker
              hover-bg-gray-lightest
            " style="width:24px;height:24px;border-radius: 50%">

            <svg style="padding-left: 6px;padding-top: 6px;" class="content-box pointer" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" data-sc-v="4.7.0" data-sc-c="icon"><title data-sc-v="4.7.0" data-sc-c="icon">link</title><g fill="none" fill-rule="evenodd">
<rect width="16" height="16"/>
<path d="m7.993 12.103c0.798 0 1.443 0.648 1.443 1.449 0 0.799-0.645 1.448-1.443 1.448-0.796 0-1.444-0.649-1.444-1.448 0-0.8 0.648-1.449 1.444-1.449zm-2e-4 -11.102c2.527 0 4.513 1.552 4.513 3.751 0 1.437-1.313 2.353-1.724 2.645-0.987 0.702-1.92 0.604-1.92 3.407h-1.861c0.027-2.568 0.428-3.353 1.645-4.212 0.836-0.591 1.809-0.919 1.809-1.947 0-0.98-0.913-1.679-2.229-1.679-2.161 0-2.86 1.355-2.86 2.993h-1.881c-0.103-2.814 1.445-4.958 4.508-4.958z" fill="#121212"/>
</g></svg></div>
               <!--<div class="flex" data-sc-v="4.8.0-canary.0" data-sc-c="tooltip">
                  <svg class="content-box pa-xxs" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" data-sc-v="4.8.0-canary.0" data-sc-c="icon" style="width: 20px; height: 20px;">
                     <title data-sc-v="4.8.0-canary.0" data-sc-c="icon">alert</title>
                     <path d="M8.48307734 1.69448421c.16525103.09117298.30132736.22724931.39250034.39250034L15.1817504 13.5169227c.2667963.4835682.0910679 1.0918587-.3925003 1.358655C14.6413204 14.9571941 14.4751237 15 14.3061727 15H1.69382725c-.55228475 0-1-.4477153-1-1 0-.1689509.04280594-.3351477.12442232-.4830773L7.12442232 2.08698455c.26679625-.4835682.87508682-.65929659 1.35865502-.39250034zM9 11.5H7.092v1.836H9V11.5zM9.204 5H6.9l.564 5.532h1.152L9.204 5z" fill-rule="nonzero" data-sc-v="4.8.0-canary.0" data-sc-c="icon"></path>
                  </svg>
               </div>
               <!--<div aria-hidden="false" class="tooltip-module_tooltip__TM_YM z-2 shadow-3 bg-white transition-opacity duration-400 ease-in-out border-box brad-4" role="dialog" data-sc-v="4.8.0-canary.0" data-sc-c="tooltip">
                  <div class="pa-sm" data-sc-v="4.8.0-canary.0" data-sc-c="audio" style="width: 250px;">
                     <div class="jsx-1238604632"><b class="jsx-1238604632">This feature uses a computer-generated synthetic voice.</b>There may be some errors, for example in pronunciation, sentiment, and tone.</div>
                  </div>
                  <div class="tooltip-module_arrow__2-JWx" data-popper-arrow="true" data-sc-v="4.8.0-canary.0" data-sc-c="tooltip"></div>
               </div>-->
            </div>
         </div>
         <!--<div id="controls-wrapper" class="fixed flex justify-center items-center z-1" data-sc-v="4.8.0-canary.0" data-sc-c="audio">
            <button class="brad-50 pointer bg-white drop-shadow" data-sc-v="4.8.0-canary.0" data-sc-c="audio" style="min-width: 80px; min-height: 80px;"></button>
            <button id="controls" class="brad-50 pointer bg-white absolute flex items-center justify-center hover-fade-50" data-sc-v="4.8.0-canary.0" data-sc-c="audio" style="min-width: 80px; min-height: 80px;">
               <svg class="content-box relative fill-black" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-label="Paused" data-sc-v="4.8.0-canary.0" data-sc-c="icon" style="width: 40px; height: 40px; left: 2px;">
                  <title data-sc-v="4.8.0-canary.0" data-sc-c="icon">play</title>
                  <path d="M3 2 13.182 7.819 3 14z" fill-rule="evenodd" data-sc-v="4.8.0-canary.0" data-sc-c="icon"></path>
               </svg>
            </button>
         </div>-->
      </div>
      <audio src="https://audio-articles.lionfish.media.aws.wapo.pub/prod/5FHPZZTP6ZGLPOZZYPPCURXXGI/20201207-135398.985/current.mp3" type="audio/mp3" preload="metadata" data-sc-v="4.8.0-canary.0" data-sc-c="audio">
         <track kind="captions" label="English" data-sc-v="4.8.0-canary.0" data-sc-c="_ref3">
      </audio>
   </div>
</div>

<style>
.scrubber .scrubber-dot {
   transition: all 250ms ease-in-out;
}

@media only screen and (min-width: 1024px) {

   .scrubber-dot  {
      transform: scale(0) !important;
   }

   .scrubber:hover .scrubber-dot {
      transform: scale(1) !important;
   }
}
</style>
