<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>article</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">

        {# Facebook Open Graph Tags #}
        <meta property="og:title" content="">
        <meta property="og:site_name" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="fb:app_id" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">

        {# Twitter Summary Card with Large Image tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="">
        <meta name="twitter:creator" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        <link href="./static/css/app.css" rel="stylesheet">
        <script src="./static/js/bundle.js" async defer></script>
    </head>
    <body>
        {% block nav %}
            {% include './partials/nav/_topnav-old.html' %}
            {% include './partials/ads/_leaderboard.html' %}
        {% endblock %}

        <div class="relative">
            <main class="grid mr-auto ml-auto print-mt-none">

                <!--Subnav-->
                <div class="grid-item grid-item--cols-sm-12 grid-item--cols-md-12  grid-item--cols-lg-12">
                     {% block subnav %}
                     {% endblock %}
                </div>

                <!--Header-->
                <header class="grid-item grid-item--cols-sm-12 grid-item--cols-md-12  grid-item--cols-lg-12" data-qa="main-full">
                    {% block header %}
                    {% endblock %}
                </header>

                <!-- Article-->
                <article class="grid-item grid-item--cols-sm-12 grid-item--cols-md-12 grid-item--cols-lg-9 pr-lg-lg" data-qa="main">
                    {% block articleBody %}
                    {% endblock %}
                </article>

                <!-- Right rail-->
                <aside class="grid-item grid-item--cols-sm-12 grid-item--cols-md-12 mt-md grid-item--cols-lg-3 hide-for-print flex flex-column right-rail" style="margin-top:32px">
                    {% block rightRail %}
                    {% endblock %}
                </aside>
            </main>
            {% include './partials/footer/_standard.html' %}
        </div>

        <style>
            header {
                padding-top: 40px;
            }

            article {
                padding-top: 32px;
            }

            /* Mobile */
            @media only screen and (max-width: 1024px) {
                header {
                    padding-top: 24px;
                }

                article {
                    padding-top: 16px;
                }

            }

        </style>


        {% block content %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

        {# Structured Data for Logo and Social Profile Links #}
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "",
                "url": "",
                "logo": "",
                "sameAs": [
                    {# "http://www.facebook.com/", #}
                    {# "http://instagram.com/", #}
                    {# "http://www.twitter.com/", #}
                    {# "http://plus.google.com/" #}
                    {# "http://youtube.com/" #}
                ]
            }
        </script>
    </body>
</html>
