{% extends '_base.html' %}

{% block content %}



    {% include './partials/nav/_topnav.html' %}
    {% include './partials/ads/_leaderboard.html' %}


     <div class="relative">
            <main class="grid mr-auto ml-auto print-mt-none" style="">
                <header class="grid-item grid-item--cols-sm-12 grid-item--cols-md-12  grid-item--cols-lg-12" data-qa="main-full">
                    {% include './partials/nav/subnav/_transfer-of-power.html' %}

                    <div class="mt-xl mt-xxl-ns">
                            {% include './partials/kicker/_standard.html' %}
                    </div>
                    <div class="w-100">
                        <h1 class="font--headline gray-darkest null" data-qa="headline" style="font-size: 50px;">
                            Democrats wrestle with length of Trump trial
                        </h1>
                        {% include './partials/subhead/_standard.html' %}
                    </div>
                    {% include './partials/byline-utility/_audio-article-playing.html' %}
                </header>
                <article class="grid-item grid-item--cols-sm-12 grid-item--cols-md-12 b-l br-l bc-gray-lightest mb-xxl-ns mt-xxs mt-md-l grid-item--cols-lg-9 pr-lg-lg" data-qa="main">

                    {% include './partials/lede-art/_image.html' %}
                    {% include './partials/byline-utility/_simple.html' %}
                    {% include './partials/article-body/_simple.html' %}
                    {% include './partials/linkbox/_default.html' %}
                    {% include './partials/author-bio/_single.html' %}
                    {% include './partials/bottom-of-article/_next-up.html' %}
                </article>
                <aside class="grid-item grid-item--cols-sm-12 grid-item--cols-md-12 mt-md-l grid-item--cols-lg-3 hide-for-print flex flex-column right-rail">
                    {% include './partials/right-rail/_sticky-ad.html' %}
                    {% include './partials/right-rail/_most-read.html' %}
                    {% include './partials/right-rail/_second-ad.html' %}
                    {% include './partials/right-rail/_newsletter.html' %}
                    {% include './partials/right-rail/_second-ad.html' %}
                    {% include './partials/right-rail/_podcast.html' %}
                </aside>
            </main>

            {% include './partials/footer/_standard.html' %}





{% endblock %}

{% block javascripts %}
{{ super() }}
<script>

</script>
{% endblock %}
