{% extends '_base.html' %}
{% set isLive = true %}

    <!--Subnav-->
    {% block subnav %}
        {% include './partials/nav/subnav/_transfer-of-power.html' %}
    {% endblock %}

    <!--Header-->
    {% block header %}
         {% include './partials/header/_live.html' %}
     {% endblock %}

    <!-- Article-->
    {% block articleBody %}

        {% include './partials/lede-art/_image.html' %}
        {% include './partials/byline/_live-old.html' %}

        {% include './partials/article-body/_live.html' %}
        {% include './partials/linkbox/_default.html' %}
        {% include './partials/author-bio/_single.html' %}
     <!--   {% include './partials/bottom-of-article/_next-up.html' %}-->
    {% endblock %}

    <!-- Right Rail -->
    {% block rightRail %}
        {% include './partials/right-rail/_sticky-ad.html' %}
        {% include './partials/right-rail/_most-read.html' %}
        {% include './partials/right-rail/_second-ad.html' %}
        {% include './partials/right-rail/_newsletter.html' %}
        {% include './partials/right-rail/_second-ad.html' %}
        {% include './partials/right-rail/_podcast.html' %}
    {% endblock %}


{% block javascripts %}
{{ super() }}
<script>

</script>
{% endblock %}
