<!--UTILITY BAR -->
    <div class="pointer mb-md ml-auto o-0" style="align-self: flex-end; animation: 1s ease 1s 1 normal forwards running fadein;position:relative;top:-11px">
        <!--------- UTILITY BAR ICONS ONLY --->
         <div class="mr-md gray-darker" style="float:left;text-align:center;">
             <svg class="content-box fill-current" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" url="https://www.washingtonpost.com" data-sc-v="4.5.1" data-sc-c="icon" style="margin-top:3px">
                <title data-sc-v="4.5.1" data-sc-c="icon">save</title>
                <path d="M14.6854877,1 C15.1986557,1 15.6146605,1.41600485 15.6146605,1.92917284 L15.6146605,17.0708102 C15.6146605,17.5839782 15.1986557,18 14.6854877,18 C14.4141673,18 14.1564009,17.8813928 13.9798735,17.675352 L9.80733027,12.8052069 L5.63478709,17.675352 C5.30090791,18.0650519 4.7143311,18.1103036 4.32463111,17.7764245 C4.11859027,17.599897 4,17.3421306 4,17.0708102 L4,1.92917284 C4,1.41600485 4.41600485,1 4.92917284,1 L14.6854877,1 Z M13.7554831,2.85834569 L5.85751397,2.85834569 L5.85751397,14.5584901 L9.80733027,9.94895361 L13.7554831,14.557561 L13.7554831,2.85834569 Z" id="Rectangle-Copy-149" fill-rule="nonzero"></path>
            </svg>

        </div>
        <div class="mr-md gray-darker brad-4" style="float:left;text-align:center;">
             <svg class="content-box fill-current" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" url="https://www.washingtonpost.com" data-sc-v="4.5.1" data-sc-c="icon">
                <title data-sc-v="4.5.1" data-sc-c="icon">share</title>
                <path d="M18 9h-2V7h3a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3v2H6v10h12V9zm-5-3.287V17h-2V5.713H8.47L12 .757l3.53 4.956H13z" fill-rule="nonzero" data-sc-v="4.5.1" data-sc-c="icon"></path>
            </svg>

        </div>
        <div class="gray-darker" style="float:left;text-align:center;">
            <svg class="content-box fill-current" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" url="https://www.washingtonpost.com" data-sc-v="4.5.1" data-sc-c="icon">
                <title data-sc-v="4.5.1" data-sc-c="icon">comment</title>
                <path d="M10 17l-4 4v-4H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H10zM5 5v10h14V5H5z" fill-rule="nonzero"></path>
            </svg>
            <span class="gray-dark font-xxxs" style="position:relative;top:-9px;left:-2px">687</span>
        </div>
        <!--------- //UTILITY BAR WITH LABELS --->
    </div>
