<div class="mb-sm">
<span class="dot-xs-red relative"></span>
<span class="font--subhead hide-for-print kicker black font-bold" data-qa="kicker">Biden inauguration live updates</span>
</div>

<style>

.dot-xs-red {
    padding-right: 16px;
}

@keyframes blinking-dot {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}

.dot-xs-red:before {
    height: 8px !important;
    width: 8px !important;
    animation: blinking-dot 2s ease-in-out infinite;
}

@media only screen and (max-width: 1024px) {
    .dot-xs-red {
        padding-right: 12px;
    }
}

</style>
