<div class="article-body">
            <div class="teaser-content">
                <section>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Democratic lawmakers eager to punish President Trump for his role in fomenting last week’s deadly attack on the Capitol are grappling with how elaborate and lengthy a Senate trial should be, as President-elect Joe Biden ramps up pressure on Congress to swiftly implement his ambitious agenda.</p>
                    </div>
                    <div></div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Few if any Senate Democrats want a lengthy impeachment proceeding, senators and aides said Friday — particularly as Biden faces a raft of crises with potentially no Cabinet secretary in place on the first day of his presidency, a break from past practice. Some have suggested the trial be put on pause to first tackle confirmations and pandemic relief.</p>
                    </div>
                </section>
            </div>
            <div class="remainder-content">
                <section>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">But Senate leaders have not yet found a way to move ahead simultaneously on the impeachment trial and the chamber’s normal activities, such as confirming nominees, despite Biden urging them to do so.</p>
                    </div>

                    {% include '../ads/_inline-300x250.html' %}

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Once an impeachment trial of a president begins in the Senate, it traditionally supersedes all other business. To do otherwise would almost certainly require consent from all 100 senators, many of whom might not share the political incentive to help move along Biden’s priorities expeditiously.</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Democrats are increasingly talking up the possibility of a quick trial, arguing that there is only a single, relatively straightforward charge — that Trump incited insurrection by egging on the crowd before it assaulted the Capitol.</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">“It’s a simple allegation, and the facts are mostly not in dispute,” Sen. Brian Schatz (D-Hawaii) said Friday. “We can do this responsibly without allowing it to take too long.”</p>
                    </div>

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Barring a major reversal from Senate Majority Leader Mitch McConnell (R-Ky.), who would have to agree to reconvene the Senate earlier than planned, Trump’s second impeachment trial is set to begin at 1 p.m. on Wednesday — one hour after Biden becomes president.</p>
                    </div>

                    {% include '../ads/_inline-900x250.html' %}

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">House Speaker Nancy Pelosi (D-Calif.) could delay the starting date by withholding the article of impeachment until a later time. At a news conference Friday, Pelosi declined to specify when she would send the article to the Senate.</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">“On January 6th, there was an act of insurrection perpetrated on the Capitol of the United States, incentivized by the president of the United States,” Pelosi said, adding, “So urgent was the matter, they’re now working on taking this to trial. . . . You'll be the first to know when we announce that we’re going over there.”</p>
                    </div>

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Biden has not said publicly how he believes the impeachment trial should proceed, other than to suggest that the Senate tackle other agenda items simultaneously. In private, he has deferred to Democratic leaders such as Pelosi on strategy.</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">But in a sign of how sweeping his agenda is likely to be, Biden on Friday unveiled a $1.9 trillion relief package that he said was urgently needed to fight the pandemic. Ronald A. Klain, Biden’s incoming White House chief of staff, said there are ways for the Senate to tackle both the relief package and the impeachment trial.</p>
                    </div>

                    {% include '../ads/_inline-300x250.html' %}

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">“Obviously, there will have to be committee work on this proposal that the president-elect put forward, that can obviously go on while impeachment trial is going on,” Klain said in a Washington Post Live interview. “There will be floor time outside of the impeachment trial, and hopefully the trial will not be a lengthy trial.”</p>
                    </div>

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Jen Psaki, the incoming White House press secretary, said there is precedent for the Senate juggling multiple priorities during impeachment proceedings, noting that Senate committees held hearings as Trump’s first trial unfolded last year. However, the Senate did not take any floor votes for the duration of that trial, which lasted three weeks.</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Privately among Senate Democrats, a sense is growing that the “sooner we can get this over with, the better,” said one aide familiar with the dynamics, who spoke on the condition of anonymity to discuss internal matters. Some Democrats said they hoped their Republican colleagues, exhausted by the outgoing president’s antics, would agree to help the Senate move on.</p>
                    </div>

                   {% include '../ads/_inline-300x250.html' %}

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">But some GOP senators may prefer to slow down the trial in hopes of bogging down Biden’s initiatives, include the pandemic relief package, which several Republicans have <a href="https://www.washingtonpost.com/us-policy/2021/01/15/biden-stimulus-gop/?itid=lk_inline_manual_24">already said they oppose</a>.</p>
                    </div>

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">McConnell noted this week that the three previous presidential impeachment trials conducted by the Senate lasted for several weeks — 83, 37 and 21 days, respectively. He <a href="https://www.republicanleader.senate.gov/newsroom/press-releases/mcconnell-statement-on-senate-schedule-jan-2021">suggested</a> there was little reason to believe this one would be any different.</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Some Democrats have suggested either indefinitely withholding the article from the Senate or devising other procedural delays so that senators can first handle Biden’s nominations and the coronavirus aid package.</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">“If there is a mechanism by which to either delay the trial or to be able to do it in parts, I would certainly support that,” Sen. Chris Murphy (D-Conn.) said in an <a href="https://www.atlanticcouncil.org/event/a-conversation-with-us-senator-chris-murphy/">appearance with the Atlantic Council on Friday</a>. “I think that confirmation and covid relief legislation is more important right now than expediting the trial of a president who has already left office.”</p>
                    </div>

                    {% include '../ads/_inline-300x250.html' %}

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Bifurcating the Senate calendar — by, for example, conducting regular business in the morning and the trial in the afternoon — could also have the unintended effect of prolonging a trial, which few Democrats want.</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">The nine House impeachment managers tapped by Pelosi earlier this week, who will act as prosecutors during the trial, have declined to discuss details of their strategy such as whether they plan to call witnesses. Doing so could allow powerful testimony on the riot and Trump’s role in it, but could also prolong the proceedings.</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">House Democrats announced Friday that they have tapped two outside lawyers — Barry Berke and Joshua Matz — to serve as impeachment counsels as they prepare for the trial.</p>
                    </div>

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">As for the defendant, it remained unclear Friday whom Trump would pick to lead his defense. White House counsel Pat Cipollone and deputy counsel Pat Philbin, who steered his legal strategy last year, have privately indicated they don’t want to do so again, and would be under no imperative to defend Trump when he officially becomes a private citizen.</p>
                    </div>

                   {% include '../ads/_inline-300x250.html' %}

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">One option discussed last year — to choose key Trump allies among House Republicans to defend Trump — is also unlikely, because congressional ethics rules bar members of Congress from serving as a “fiduciary” to an outside interest, according to a GOP official familiar with the procedure who spoke on the condition of anonymity to discuss strategy.</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Senate Minority Leader Charles E. Schumer (D-N.Y.), who is set to become majority leader next week, said Friday that the trial and the Senate’s other work are both priorities.</p>
                    </div>

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">“Donald Trump remains a threat to our democracy and will be held accountable for what he's done, whether or not he's president during trial,” Schumer said in his weekly address aired Friday. “At the same time, the Senate’s work on behalf of the American people will not be deterred.”</p>
                    </div>

                    {% include '../ads/_inline-300x250.html' %}

                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">Because the trial will be held after Trump leaves office, congressional leaders do not believe Chief Justice John G. Roberts Jr. will be summoned to preside over the Senate proceedings, according to a Democratic official familiar with the matter, who spoke on the condition of anonymity to disclose internal conversations.</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md ">The Supreme Court has declined to comment on whether Roberts would be involved.&nbsp;</p>
                    </div>
                    <div>
                        <p data-el="text" class="font--body font-copy gray-darkest ma-0 pb-md bold"> </p>
                    </div>
                </section>
            </div>
        </div>
