 <div class="flex flex-1 justify-end mr-xs mr-sm-ns" data-sc-v="4.5.1" data-sc-c="basenav">
        <div class="ml-xs mw-200 dn db-ns" data-sc-v="4.5.1" data-sc-c="rendernavbutton">
            <button data-qa="sc-account-button-not-small" class="transition-color duration-400 ease-in-out btn btn-white btn-sm" style="border:none">
                <div class="flex-ns" data-sc-v="4.5.1" data-sc-c="navbutton"><span class="dn dib-ns sign-in-text truncate mr-xxs mw-144" data-sc-v="4.5.1" data-sc-c="navbutton">apbest</span>
                    <svg class="content-box fill-black profile va-m" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" data-sc-v="4.5.1" data-sc-c="icon">
                        <title data-sc-v="4.5.1" data-sc-c="icon">profile</title>
                        <path d="M11 5A3 3 0 1 1 5 5 3 3 0 0 1 11 5zm.167 4.649l1.22.439c.959.343 1.613 1.204 1.613 2.19V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-.722c0-.986.653-1.847 1.61-2.19l1.771-.636A7.787 7.787 0 0 1 8 9c.893 0 1.782.153 2.62.452l.528.19a1 1 0 0 1 .019.007z" fill-rule="nonzero" data-sc-v="4.5.1" data-sc-c="icon"></path>
                    </svg>
                </div>
            </button>
        </div>
        <div class="ml-xs mw-200 items-center pa-0 dn-ns" data-sc-v="4.5.1" data-sc-c="rendernavbutton">
            <button data-qa="sc-account-button-small" class="transition-color duration-400 ease-in-out btn btn-white btn-sm btn-pa-0" style="border:none;">
                <div class="flex-ns" data-sc-v="4.5.1" data-sc-c="navbutton"><span class="dn dib-ns sign-in-text truncate mr-xxs mw-144" data-sc-v="4.5.1" data-sc-c="navbutton">apbest</span>
                    <svg class="content-box fill-gray-darkest profile va-m" width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-sc-v="4.5.1" data-sc-c="icon">
                        <title data-sc-v="4.5.1" data-sc-c="icon">profile</title>
                        <path d="M17 8a5 5 0 0 1-5 5 5 5 0 0 1-5-5c0-2.762 2.238-5 5-5s5 2.238 5 5zm.462 7.25l2.199.879A3.696 3.696 0 0 1 22 19.556V21a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1.444c0-1.508.927-2.865 2.336-3.427l3.187-1.271a12.124 12.124 0 0 1 8.955 0l.958.383a1 1 0 0 1 .026.01z" fill-rule="nonzero" data-sc-v="4.5.1" data-sc-c="icon"></path>
                    </svg>
                </div>
            </button>
        </div>
    </div>
