<div>
                        <div class="relative b bt bb bc-grey-lightest mt-xxs pt-md pb-md mb-lg ml-neg-gutter mr-neg-gutter mr-auto-ns ml-auto-ns hide-for-print
       dn db-ns" data-qa="article-body-ad" style="min-height:250px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9; width:900px; left: -20%;">
                            <div class="absolute z-0" aria-hidden="true" style="left:50%;top:50%">AD</div>
                            <div class="z1 relative" style="text-align:center">
                                <img class="" src="https://via.placeholder.com/900x250" style="">
                            </div>
                        </div>
                    </div>
