 <!------------------------- LEADERBOARD -------------------------------->
<div class="dn overflow-hidden flex-ns w-100 center border-box absolute pt-sm pb-sm b-none b-ns bb items-center justify-center" style="height:282px;text-align:center" data-qa="leaderboard" aria-hidden="true">
    <img src="https://via.placeholder.com/960x250">
</div>
<div id="leaderboard-wrapper" class="w-100 z-4 flex-ns dn border-box justify-center items-center overflow-hidden " style="top:60px;transition:top 300ms ease-in;height:282px" data-ad-module="" aria-hidden="true">
    <div class=" w-100">

    </div>
</div>
<div class="w-100 flex-ns dn" data-sc-v="4.5.1" data-sc-c="fixedheaderspacer" style="height: 282px;"></div>

<!------------------------- END LEADERBOARD -------------------------------->
