<div class="dn db-ns b bb mb-lg-mod">
                <div class="headline-list hide-for-print w-100 pb-sm">
                    <div class="font--subhead font-xxs bold gray-darkest pt-xs b bt bc-gray-darkest" data-qa="headline-list-title">Most Read<a class="ml-xxs black" href="https://www.washingtonpost.com/politics/" style="
    /* border-bottom: 1px solid #aaa; */
    line-height: 1;
    padding-bottom: -5px;
    /* text-decoration: underline; */
    /* border-bottom: 1px solid #ddd; */
    /* text-decoration-color: #aaa; */
">Politics</a></div>
                    <ul class="list-unstyled mt-xs" data-cy="most-read-headline-list">
                        <li class="cb flex pt-sm pb-sm  flex-column">
                            <a aria-hidden="true" data-qa="featured-link" class="db mb-sm">
                                <div data-qa="fade-in-image" style="opacity: 1; transition: opacity 500ms ease-in-out 0s; height: auto;">
                                    <figure class=" overflow-hidden relative hide-for-print"><img width="600" height="399" src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/CAUAHGQYYAI6XC62QFGKK3QTRM.jpg&w=1800" class="mw-100 h-auto" alttext="Image without a caption"></figure>
                                </div>
                            </a>
                            <div class="flex">
                                <div data-qa="headline-number" class=" font-lg dib mr-sm b bb bc-secondary font--headline" style="max-height: 1.25em;border: 0;">1</div>
                                <div class="w-100 clearfix">
                                    <div class="font--subhead font-xxxs" data-qa="kicker"><span class="bold gray-darkest "><span class="">Analysis</span></span>
                                    </div><a href="https://www.washingtonpost.com/politics/2021/01/15/pillow-salesman-apparently-has-some-ideas-about-declaring-martial-law/?itid=mr_politics_1" data-qa="headline-text"><h2 class="gray-darkest hover-blue font--headline font-sm">A pillow salesman apparently has some ideas about declaring martial law</h2></a></div>
                            </div>
                        </li>
                        <li class="cb flex pt-sm pb-sm b bt flex-column">
                            <div class="flex">
                                <div data-qa="headline-number" class=" gray-darkest bold font--headline font-md mr-sm">2</div>
                                <div class="w-100 clearfix">
                                    <a href="https://www.washingtonpost.com/politics/capitol-police-intelligence-warning/2021/01/15/c8b50744-5742-11eb-a08b-f1381ef3d207_story.html?itid=mr_politics_2" aria-hidden="true" data-qa="nonfeatured-link" class="bg-gray-lightest dib fr ml-sm " style="width: 90px; height: 60px;">
                                        <div data-qa="fade-in-image" style="opacity: 1; transition: opacity 500ms ease-in-out 0s;">
                                            <figure class=" overflow-hidden relative hide-for-print"><img width="90" height="60" src="https://img.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/QX6MXPFIFEI6VCMOWINZVA7XSI.jpg&w=1800" class="mw-100" alttext="Image without a caption"></figure>
                                        </div>
                                    </a><a href="https://www.washingtonpost.com/politics/capitol-police-intelligence-warning/2021/01/15/c8b50744-5742-11eb-a08b-f1381ef3d207_story.html?itid=mr_politics_2" data-qa="headline-text"><h2 class="gray-darkest hover-blue font--meta-text font-xxs light w-66">Capitol Police intelligence report warned three days before attack that ‘Congress itself’ could be targeted</h2></a></div>
                            </div>
                        </li>
                        <li class="cb flex pt-sm pb-sm b bt flex-column">
                            <div class="flex">
                                <div data-qa="headline-number" class=" gray-darkest bold font--headline font-md mr-sm">3</div>
                                <div class="w-100 clearfix">
                                    <a href="https://www.washingtonpost.com/politics/pence-rioters-capitol-attack/2021/01/15/ab62e434-567c-11eb-a08b-f1381ef3d207_story.html?itid=mr_politics_3" aria-hidden="true" data-qa="nonfeatured-link" class="bg-gray-lightest dib fr ml-sm " style="width: 90px; height: 60px;">
                                        <div data-qa="fade-in-image" style="opacity: 1; transition: opacity 500ms ease-in-out 0s;">
                                            <figure class=" overflow-hidden relative hide-for-print"><img width="90" height="60" src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/53ZZJICWY4I6XLGFSLJIDGQ4ZM.jpg&w=916" class="mw-100" alttext="Image without a caption"></figure>
                                        </div>
                                    </a><a href="https://www.washingtonpost.com/politics/pence-rioters-capitol-attack/2021/01/15/ab62e434-567c-11eb-a08b-f1381ef3d207_story.html?itid=mr_politics_3" data-qa="headline-text"><h2 class="gray-darkest hover-blue font--meta-text font-xxs light w-66">How the rioters who stormed the Capitol came dangerously close to Pence</h2></a></div>
                            </div>
                        </li>
                        <li class="cb flex pt-sm pb-sm b bt flex-column">
                            <div class="flex">
                                <div data-qa="headline-number" class=" gray-darkest bold font--headline font-md mr-sm">4</div>
                                <div class="w-100 clearfix">
                                    <a href="https://www.washingtonpost.com/politics/interactive/2021/senate-impeachment-whip-count-where-democrats-republicans-stand/?itid=mr_politics_4" aria-hidden="true" data-qa="nonfeatured-link" class="bg-gray-lightest dib fr ml-sm " style="width: 90px; height: 60px;">
                                        <div data-qa="fade-in-image" style="opacity: 1; transition: opacity 500ms ease-in-out 0s;">
                                            <figure class=" overflow-hidden relative hide-for-print"><img width="90" height="60" src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/ZQLGK3SRCAI6XIPV7WXSRT6KSA.jpg&w=600&h=399" class="mw-100" alttext="Image without a caption"></figure>
                                        </div>
                                    </a><a href="https://www.washingtonpost.com/politics/interactive/2021/senate-impeachment-whip-count-where-democrats-republicans-stand/?itid=mr_politics_4" data-qa="headline-text"><h2 class="gray-darkest hover-blue font--meta-text font-xxs light w-66">Senate impeachment whip count: Where Democrats and Republicans stand</h2></a></div>
                            </div>
                        </li>
                        <li class="cb flex pt-sm pb-sm b bt flex-column">
                            <div class="flex">
                                <div data-qa="headline-number" class=" gray-darkest bold font--headline font-md mr-sm">5</div>
                                <div class="w-100 clearfix">
                                    <a href="https://www.washingtonpost.com/politics/2021/01/15/trump-impeachment-biden-transition-live-updates/?itid=mr_politics_5" aria-hidden="true" data-qa="nonfeatured-link" class="bg-gray-lightest dib fr ml-sm " style="width: 90px; height: 60px;">
                                        <div data-qa="fade-in-image" style="opacity: 1; transition: opacity 500ms ease-in-out 0s;">
                                            <figure class=" overflow-hidden relative hide-for-print"><img width="90" height="60" src="https://www.washingtonpost.com/wp-apps/imrs.php?src=https://arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/4FHSFWB7Z4I6XFCT7Q3LUBIXQE.jpg&w=90&h=60" class="mw-100" alttext="Image without a caption"></figure>
                                        </div>
                                    </a><a href="https://www.washingtonpost.com/politics/2021/01/15/trump-impeachment-biden-transition-live-updates/?itid=mr_politics_5" data-qa="headline-text"><h2 class="gray-darkest hover-blue font--meta-text font-xxs light w-66">Live updates: Biden unveils plans for expanded access to the vaccine</h2></a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
