<div class="dn db-l pb-lgmod mb-lg-mod b bb" style="min-height:1050px">
                <div class="">
                    <wp-ad class="hide-for-print  hide-for-print" id="slug_flex_ss_bb_hp_2" data-slot="/701/wpni.politics" aria-hidden="true" data-renderbehavior="lazy" data-refresh="true" data-json="{&quot;targeting&quot;:{&quot;zeus_slot&quot;:&quot;slug_flex_ss_bb_hp_2*ref&quot;,&quot;pos&quot;:&quot;flex_ss_bb_hp_2&quot;,&quot;ctr&quot;:[&quot;zeus_c_flex_ss_bb_hp_2_refresh&quot;,&quot;refresh&quot;],&quot;wp_ad_refresh&quot;:&quot;1&quot;,&quot;wp_refresh&quot;:&quot;flex_ss_bb_hp_2_1&quot;}}" style="margin: auto; display: none; width: 1px;"><div id="google_ads_iframe_/701/wpni.politics_2__container__" style="border: 0pt none; width: 160px; height: 0px;"></div></wp-ad>
                </div>
            </div>
