<div class="flex" style="max-width: 660px;margin: 0 auto;">

    <!-- BYLINE -->
    <div class="items-center">
        <div class="byline flex mb-xs" data-qa="byline">
            <div class="dib gray-dark font--subhead self-center author-text font-xxs">
                <div class="author-names" style="font-size: 18px;">
                    <span>By</span>
                    <div class="relative dib">
                        <div>
                            <span data-qa="author-name-wrapper"><a class="author-name-link link-hover-underline" href="https://www.washingtonpost.com/people/seung-min-kim/" style="/* text-decoration-color: #aaa; */text-decoration: underline;color: #2a2a2a;"><span class="author-name link hover-blue-hover" style="text-decoration: underline;color: #2a2a2a;text-decoration-color: #aaa;">Seung Min Kim</span></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-md gray-dark font--subhead font-xxs" data-qa="timestamp">
            <div class="display-date">Jan. 15, 2021 at 7:12 p.m. EST</div>
        </div>
    </div>

   {% include '../reader-utility/_utility-bar.html' %}

</div>
